<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="wife" class="com.powernode.spring6.bean2.Wife">
        <constructor-arg name="name" value="张三"/>
        <constructor-arg name="husband" ref="husband"/>
    </bean>
    <bean id="husband" class="com.powernode.spring6.bean2.Husband">
        <constructor-arg name="name" value="李四"/>
        <constructor-arg name="wife" ref="wife"/>
    </bean>
</beans>